.performance {
  min-width: 200px;
  width: 400px;
  height: 200px;
}
.growth {
  min-width: 200px;
  width: 400px;
  height: 200px;
}
.accelerate {
  min-width: 200px;
  width: 400px;
  height: 200px;
}
.diversification {
  min-width: 200px;
  width: 400px;
  height: 200px;
}
